body {
    min-width: 200px;
    max-width: 250px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

html
{
    width: fit-content; /* max: 1000px */
    height: 750px; /* max: 750px */
}

label {
    font-size: 40px;
}

.hidden {
    display:none;
}